# 告诉 Linguist 使用这些扩展名作为对应语言
*.py linguist-language=Python
*.js linguist-language=JavaScript
*.java linguist-language=Java
*.cpp linguist-language=C++
*.c linguist-language=C
*.cs linguist-language=C#
*.rb linguist-language=Ruby
*.php linguist-language=PHP
*.swift linguist-language=Swift
*.go linguist-language=Go
*.rs linguist-language=Rust
*.ts linguist-language=TypeScript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.sql linguist-language=SQL
*.r linguist-language=R
*.m linguist-language=Objective-C
*.mm linguist-language=Objective-C++
*.scala linguist-language=Scala
*.kt linguist-language=Kotlin
*.dart linguist-language=Dart
*.sh linguist-language=Shell

# 排除特定文件或目录
*.log linguist-ignore=true
*.md linguist-ignore=true
docs/ linguist-ignore=true
vendor/ linguist-ignore=true


*.html linguist-detectable=false
